.container{
    display: flex;
    justify-content: center;
    height: 900px;
    
}

.login{
    margin-top: 100px;;
    width:400px;
    height:400px;
    border:3px solid cadetblue;
    /* border:3px solid DarkOrange; */
    border-radius: 10%;
    justify-content: center;
    display:flex;
}

.inner-login{
    padding:15px;
    margin-top:50px;
/*     width:150px;
    height:250px; */
    color: #777;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20%;
    font-weight: bold;
    color:cadetblue;
  }

  input[type=text]:focus, input[type=password]:focus {

    color:cadetblue;
    outline: none;
    box-shadow: 0px 0px 5px darkorange;/*here change the color*/
    border:1px solid cadetblue;/*here change the color*/
    /* border-radius:0; */
  }

  button {
    background-color: cadetblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .imgcontainer {
    margin-bottom:20px;
    text-align: center;
  }

  /* .imgcontainer{

    position: absolute;
    left: 600px;
    top: 400px;
    z-index: -1;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    width: 100px;
    height: 100px;
  } */
